main {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $color-main;
    padding: 50px;
    height: 100%;
    width: 100%;
    

        .ppal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 400px;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;

            .derecha{
                height: 110%;
                width: 57%;
                background-image: url(/img/mis15.jpg);
                
                opacity: 50%;
                background-repeat: no-repeat;
                
            
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-width: 0.2rem;
                    border-style: solid;
                    height: 100%;
                    border-color: rgb(17, 167, 154);

                    a{
                        width: 20%;
                        padding: 1rem;
                        background-color: $color-header-footer;
                        text-decoration: none;
                        border-radius: 1rem;
                        color: $color-principal;
                    }
                    a:hover{
                        transform: scale(1.3);
                        color: $color-principal;
                        background-color: $color-main;
                        opacity: 100%;
                    }
                }

                    p{
                        font-size: 2rem;
                        margin: 3rem 2rem;
                    }
            }

            .divDerecho{
                        display: flex;
                        flex-direction: column;
                        padding-left: 2rem;
                        

                                .enlaceProyectos{
                                    height: 45vh;
                                    width: 100vh;
                                    
                                    background-image: url(/img/proyect.jpg);
                                    background-size: cover;
                                    opacity: 20%;

                                }
                                .contacto{
                                    height: 45vh;
                                    width: 100vh;
                                    background-color:aqua;
                                    opacity: 20%;
                                    background-size: cover;
                                }
                                
                    }
                    
        }
        

        #misProyectos{
            height: 100%;
            width: 100%;

            margin-top: 15rem;
            
            display: flex;
            flex-direction: column;
            
            h3 {
                font-family: "Architects Daughter", sans-serif;
                font-size: 3rem;
                padding: 3rem;
                color: $color-secundario;
                text-align: center;
            }
                    div{
                        display: flex;
                        justify-content: space-around;
                        padding-bottom: 2rem;
                        flex-wrap: wrap;
                        
        
                    }

                    a{
                        display: inline-block;
                        padding: 7rem;
                        background-color: aqua;
                        opacity: 80%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        text-decoration: none;
                        transition: 2s;
                    }
                    
                    .lemon a{
                        background-image: url(/img/lemon-pie\.jpg);
                        background-size: cover;
                        
                    }
                    .batman a{
                        background-image: url(/img/logo_batman.svg);
                        text-align: center;
                        
                    }
                    .pizza a{
                        background-image: url(/img/VectorPizza.svg);
                        
                    }
                    .pet a{
                        
                        background-image: url(/img/pawprint.svg);
                        
                    }
                    .super a{
                        background-image: url(/img/suer.png);
                        
                    }
                    .ecommers a{
                        
                        background-image: url(/img/logoJoystick.svg);
                    }
                    .lemon a:hover, .batman a:hover,.pizza a:hover,.pet a:hover,.super a:hover,.ecommers a:hover {
                        transform: scale(1.2);
                    }

        }    
        

        .arriba{
                height: 3rem;
                width: 3rem;
                opacity: 50%;
                text-align: center;
                
                text-align: end;
                border-radius: 50px;
                background-color: $color-principal;
                
                i{
                    font-size: 1.8rem;
                    padding: 0.65rem;
                    color: $color-header-footer;
                }
            
        }
        
    
            


        
        
}