
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
        font-weight: 700;
        font-size: 3.43rem;
        line-height: 4.37rem;
        letter-spacing: 0.62rem;
        
}

body{
    font-family: "Roboto", sans-serif;
}

