footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;

    div{
        padding-top: 1rem;
    }
    .fab{ 
        height: 3rem;
        width: 3rem;
        
        font-size: 1.2rem;
        display: inline-block;

        text-align: center;
        padding-top: 0.8rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        box-shadow: -7px 0px 0px 2px $bg-primary;
        border-radius: 50%;
    }
}