@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 3.43rem;
  line-height: 4.37rem;
  letter-spacing: 0.62rem;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  /*Oculto el check y la hamburguesita*/
  /*Menu hamburguesita*/
}

header div nav ul {
  display: flex;
}

header div nav ul li {
  list-style-type: none;
}

header div nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

header .fas, header input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 680px) {
  header .respmenu .fas, header .respmenu input[type="checkbox"] {
    display: block;
  }
  header .respmenu a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background: #03faee;
    opacity: 90%;
    margin: 1px;
    border-radius: 10px;
  }
  header .respmenu a:hover {
    background-color: #8b8b8b;
  }
  header .respmenu nav {
    display: none;
    position: fixed;
    right: 1rem;
    z-index: 9999;
  }
  header .respmenu nav ul {
    display: flex;
    flex-direction: column;
  }
  header .respmenu .fa-bars, header .respmenu .fa-times {
    font-size: 1.5rem;
    pointer-events: none;
  }
  header .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  header .respmenu input:checked ~ nav {
    display: block;
    transition: 2s;
    margin-right: 1rem;
  }
  header .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  header .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
}

main .cabecera {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .cabecera .divIzq {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

main .cabecera .divIzq p {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 30px;
  color: #8b8b8b;
}

main .cabecera .divIzq span {
  background-color: #03faee;
  height: 2.5rem;
  width: 60%;
  z-index: -1;
  position: absolute;
}

main .cabecera .divIzq div {
  display: inline-block;
  margin-top: 1rem;
}

main .cabecera .divIzq div a {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 10px;
  color: #000;
  background-color: #03faee;
  width: 130px;
}

main .cabecera .divDer {
  text-align: center;
}

main .cabecera .divDer img {
  width: 100%;
}

main .conteiner-texto {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .conteiner-texto .carta {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 1rem;
}

main .conteiner-texto .carta div {
  text-align: left;
}

main .conteiner-texto .carta .num {
  display: inline-block;
  text-align: center;
  padding-top: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: -7px 0px 0px 2px #03faee;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

main .conteiner-texto .carta .titulo {
  background-color: #03faee;
  width: 1rem;
  height: 0.7rem;
  display: inline-block;
}

main .conteiner-texto .carta .titulo p {
  font-weight: bold;
  font-size: 1.2rem;
}

main .conteiner-texto .carta .texto {
  padding-top: 2rem;
  line-height: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

footer div {
  padding-top: 1rem;
}

footer .fab {
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  padding-top: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: -7px 0px 0px 2px #03faee;
  border-radius: 50%;
}
