header {
    background-color: #e5e5e5;
    text-align: center;

            section {
                    letter-spacing: 0.5rem;
                    word-spacing: 1rem;
                    
                    h1 {
                        font-family: "Roboto";
                    
                        font-size: 2rem;
                        
                        line-height: 85%;
                        
                        vertical-align: top;
                
                        text-transform: uppercase;
                    
                        color : #005677;
                        background-color: #C4C4C4;
                    }
            }

            
}
